.thumbDiv{
    margin: 0 auto;
    width: 30%;
    min-width: 280px;
    max-height: 650px;
}
.footer{
    font-size: smaller;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.pre_info{
    padding-top: 1em;
}
.hidden{
    display: none;
}
.active{
    -webkit-box-shadow: 0 0 8px #FFD700;
    -moz-box-shadow: 0 0 8px #FFD700;
    box-shadow: 0 0 8px #FFD700;
    background-color: #556677;
    cursor: pointer;
}
.highlighted{
    -webkit-box-shadow: 0 0 8px #FF0000;
    -moz-box-shadow: 0 0 8px #FF0000;
    box-shadow: 0 0 8px #FF0000;
}
